<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Index Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1 class="text-center">Login</h1>
        <div class="container">
            <form action="/login" class="offset-4 col-4" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Username</label>
                    {% if request.session.errors.username %}
                        <p class="text-danger">{{request.session.errors.username}}</p>
                    {% endif %} 
                    <input type="text" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    {% if request.session.errors.password %}
                        <p class="text-danger">{{request.session.errors.password}}</p>
                    {% endif %} 
                    <input type="password" name="password" class="form-control">
                </div>
                {% if request.session.errors.failure %}
                    <p class="text-danger">{{request.session.errors.failure}}</p>
                {% endif %} 
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </body>
</html>